Django==6.0.3
djangorestframework==3.17.1

# Auth & API
django-rest-knox==5.0.4
django-rest-passwordreset==1.5.0

# Background tasks
celery==5.6.3
django-celery-beat==2.9.0

# Database
psycopg2-binary==2.9.11

# CORS
django-cors-headers==4.9.0

# AI (if you are actually using it)
google-generativeai==0.8.6

# Utilities (only keep if used in your code)
Pillow==12.2.0
requests==2.33.1
python-dateutil==2.9.0.post0
tqdm==4.67.3